@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Dosis', sans-serif;
    background-color: #071F30;
	}
     
    .panel{
        width: 800px;
        height: 800px;
        box-shadow: 4px 4px 4px 4px #111;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12vh;
        position: relative;

     }
     header {
        background-size: auto, auto, auto, cover;
        text-align: center;
      }
	